<?xml version="1.0" encoding="UTF-8"?>
<!-- 创建SqlSessionFactory，同时指定数据源 -->
<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
 <property name="dataSource" ref="dataSource" />
 <!-- 指定sqlMapConfig总配置文件，订制的environment在spring容器中不在生效 -->
 <property name="configLocation" value="classpath:sqlMapConfig.xml" />
 <!--指定实体类映射文件，可以指定同时指定某一包以及子包下面的所有配置文件，mapperLocations和configLocation有一个即可，当需要为实体类指定别名时，可指定configLocation属性，再在mybatis总配置文件中采用mapper引入实体类映射文件 -->
 <!-- <property name="mapperLocations" value="classpath*:com/xxt/ibatis/dbcp/**/*.xml" 
  /> -->
 <bean>
