<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
>

  <bean id="propPlaceHolderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="systemPropertiesMode">
      <value>1</value>
    </property>
    <property name="locations">
      <list>
        <value>org/third/spring/mail.properties</value>
        <value>org/third/spring/jdbc.properties</value>
      </list>
    </property>
  </bean>

  <bean id="hsql" class="org.third.testdata.db.bean.DbObject">
    <property name="driverClass" value="${jdbc.hsql.driverClass}" />
    <property name="url" value="${jdbc.hsql.url}" />
    <property name="user" value="${jdbc.hsql.user}" />
    <property name="password" value="${jdbc.hsql.password}" />
  </bean>
  <bean id="mysql" class="org.third.testdata.db.bean.DbObject">
    <property name="url" value="${jdbc.mysql.url}" />
    <property name="driverClass" value="${jdbc.mysql.driverClass}" />
    <property name="user" value="${jdbc.mysql.user}" />
    <property name="password" value="${jdbc.mysql.password}" />
  </bean>
  <bean id="oracle" class="org.third.testdata.db.bean.DbObject">
    <property name="url" value="${jdbc.oracle.url}" />
    <property name="driverClass" value="${jdbc.oracle.driverClass}" />
    <property name="user" value="${jdbc.oracle.user}" />
    <property name="password" value="${jdbc.oracle.password}" />
  </bean>
  <bean id="sybase" class="org.third.testdata.db.bean.DbObject">
    <property name="url" value="${jdbc.sybase.url}" />
    <property name="driverClass" value="${jdbc.sybase.driverClass}" />
    <property name="user" value="${jdbc.sybase.user}" />
    <property name="password" value="${jdbc.sybase.password}" />
  </bean>


  <bean id="dataSourceSybase" name="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="${jdbc.sybase.driverClass}" />
    <property name="url" value="${jdbc.sybase.url}" />
    <property name="username" value="${jdbc.sybase.user}" />
    <property name="password" value="${jdbc.sybase.password}" />
  </bean>
</beans>