<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<bean id="userDao" class="org.third.testdata.user.dao.UserDao"></bean>
	<bean id="userService" class="org.third.testdata.user.service.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>

	<!-- ensure that the above transactional advice runs for any execution of an operation defined by the FooService interface -->
	<bean id="saAdvice01" class="org.third.testdata.user.SystemArchitectureAdvice_01" />
	<bean id="saAdvice02" class="org.third.testdata.user.SystemArchitectureAdvice_02" />
	<bean id="saAdvice03" class="org.third.spring.aop.aopstyle.config.IntroductionAdvice" />

	<!-- <bean id="concurrentOperationExecutor" class="org.third.testdata.user.service.impl.ConcurrentOperationExecutor"> <property name="maxRetries" value="3" /> <property name="order" value="100" /> </bean> -->
</beans>