<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
      http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<bean id="userDao" class="org.third.testdata.user.dao.UserDao"></bean>
	<bean id="userService" class="org.third.testdata.user.service.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	<!--
		<bean id="saAdvice" class="org.third.testdata.user.SystemArchitectureAdvice" />
	-->
	<bean id="beforeAdvisor" class="org.springtest.aoptest.aopstyle.classimpl.BeforeAdvisor" />
	<bean id="afterReturningAdvisor" class="org.springtest.aoptest.aopstyle.classimpl.AfterReturningAdvisor" />

	<bean id="userServcieWithAdvice" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>org.third.testdata.user.service.UserService</value>
		</property>
		<property name="target">
			<ref local="userService" />
		</property>
		<property name="interceptorNames">
			<list>
				<value>beforeAdvisor</value>
				<value>afterReturningAdvisor</value>
			</list>
		</property>
	</bean>

</beans>